# --------------------
# Python
# --------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# --------------------
# Virtual environments
# --------------------
venv/
.env

# --------------------
# OS / Editor
# --------------------
.DS_Store
.idea/
.vscode/

# --------------------
# Spark
# --------------------
spark-warehouse/
*.crc

# --------------------
# Logs / temp
# --------------------
*.log
tmp/
